.headerContainer {
  width: 90%;
  position: fixed;
  top: 0;
  right: 0;
  border-bottom: 1px solid #fafafa;
  

  h1 {
    color: #fafafa;
    // background-color: aqua;
  }
}
.headerContainer1 {
  position: relative;
  top: 5.5rem;
  right: 0;
  border-bottom: 1px solid #fafafa;
}
