@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #fafafa;
  font-family: 'Aldrich', sans-serif;
}

.starterContainer {
  padding-left: 10vw;
  width: 100vw;
}

.potatoesContainer {
  padding-left: 10vw;
  width: 100vw;
}

.proudContainer {
  padding-left: 10vw;
  width: 100vw;
}

.groupContainer {
  padding-left: 10vw;
  width: 100vw;
}

.fillerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 83vw;
  flex-direction: row;
  text-align: center;
  height: 100vh;
  overflow: hidden;

  .fillViewport {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .SorryText {
    width: 60rem;
    font-family: Halfomania, serif, sans-serif;
    font-weight: lighter;
    font-style: normal;
    color: #fafafa;
    font-size: 6rem;
    letter-spacing: 0.03em;
    line-height: 1;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 40px;
    white-space: normal;
  }
}

.catecories {
  padding-left: 10vw;
  width: 90vw;
  height: 20vh;
  position: relative;

  h2 {
    position: absolute;
    bottom: 0;
  }
}

.catecoriesWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;

  .projectWrapper {
    width: 60rem;
    height: 80%;
    position: relative;
    display: flex;
    flex-flow: row wrap;
  }
}

.hexagonWrapper {
  display: flex;
  width: 200px;
  height: 200px;
  cursor: pointer;
  position: absolute;

  .pHexagonInfo {
    white-space: normal;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #fafafa;
    transform: translate3d(0, 0, 0);
    line-height:36px;
    color:#dedede;
  }

  & .info {
    a {
      display: block;
      padding: 0.5rem 2rem;
      font-size: 1.25rem;
      position: relative;
      border: 1px solid white;
      color: white;
      background-color: transparent;
      text-align: center;
      text-decoration: none;
      margin: 1rem 0 3rem 1rem;
      width: 12rem;

      &::after,
      &::before {
        content: "";
        position: absolute;
        border: 1px solid white;
        width: calc(100% + 15px);
        height: 60px;
        transition: 0.5s ease;
      }

      &::after {
        top: -15px;
        left: -15px;
        border-right: none;
        border-bottom: none;
      }

      &::before {
        bottom: -15px;
        right: -15px;
        border-left: none;
        border-top: none;
      }

      &:hover:after,
      &:hover:before {
        width: calc(100% - 30px);
        height: 80px;
      }
    }
  }

  &.starter:first-of-type {
    position: absolute;
    top: 2.5rem;

    .info {
      position: absolute;
      top: -2.55rem;
      right: 18rem;
      width: 24rem;
    }
  }

  &.starter:nth-of-type(2) {
    position: absolute;
    top: 11.5rem;
    left: 16rem;

    .info {
      position: absolute;
      top: 5rem;
      right: 3rem;
      width: 30rem;
    }
  }

  &.starter:nth-of-type(3) {
    position: absolute;
    top: 2.5rem;
    left: 32rem;

    .info {
      position: absolute;
      top: -3rem;
      left: 13rem;
      width: 25rem;
    }
  }

  &.starter:last-of-type {
    position: absolute;
    top: 21rem;
    left: 32rem;

    .info {
      position: absolute;
      top: 4rem;
      left: 13rem;
      width: 32rem;

      a {
        display: inline-block;
      }

      a:last-of-type {
        margin: 0 2rem 0 2.3rem;
      }
    }
  }

  // potaotes section
  &.potatoes:first-of-type {
    position: absolute;
    top: 2.5rem;

    .info {
      position: absolute;
      top: -2.55rem;
      right: 15rem;
      width: 24rem;
    }
  }

  &.potatoes:nth-of-type(2) {
    position: absolute;
    top: 11.5rem;
    left: 16rem;

    .info {
      position: absolute;
      top: 14.5rem;
      left: -4rem;
      width: 32rem;
    }
  }

  &.potatoes:nth-of-type(3) {
    position: absolute;
    top: 2.5rem;
    left: 32rem;

    .info {
      position: absolute;
      top: -2.55rem;
      left: 13rem;
      width: 24rem;
    }
  }

  &.potatoes:nth-of-type(4) {
    position: absolute;
    top: 21rem;

    .info {
      position: absolute;
      top: 7.5rem;
      right: 17rem;
      width: 30rem;

      a {
        display: inline-block;
      }

      a:last-of-type {
        margin: 0 2rem -10rem 2.3rem;
      }
    }
  }

  &.potatoes:last-of-type {
    position: absolute;
    top: 21rem;
    left: 32rem;

    .info {
      position: absolute;
      top: 4.9rem;
      left: 13rem;
      width: 32rem;
    }
  }

  // proud section
  &.proud:first-of-type {
    position: absolute;
    top: 2.5rem;

    .info {
      position: absolute;
      top: -2.55rem;
      right: 14rem;
      width: 24rem;
    }
  }

  &.proud:last-of-type {
    position: absolute;
    top: 11.5rem;
    left: 16rem;

    .info {
      position: absolute;
      top: -11.6rem;
      left: 15rem;
      width: 28rem;
    }
  }

  // group section
  &.group:first-of-type {
    position: absolute;
    top: 2.5rem;

    .info {
      position: absolute;
      top: -2.55rem;
      right: 13rem;
      width: 28rem;
    }
  }

  &.group:nth-of-type(2) {
    position: absolute;
    top: 11.5rem;
    left: 16rem;

    .info {
      position: absolute;
      top: 16rem;
      right: -8rem;
      width: 32rem;

      a {
        display: inline-block;
      }

      a:last-of-type {
        margin: 0 2rem -10rem 2.3rem;
      }
    }
  }

  &.group:last-of-type {
    position: absolute;
    top: 2.5rem;
    left: 32rem;

    .info {
      position: absolute;
      top: -2.55rem;
      left: 13rem;
      width: 22rem;
    }
  }
}

.hexagon {
  position: absolute;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #fafafa, #7e690e);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.5s;
  transform: scale(1.5);
  z-index: 1;
}

.hexagon:before,
.hexagon:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: 0;
  transition: 0.5s;
  transform-origin: center;
}

.hexagon:before {
  transform: rotateZ(60deg);
}

.hexagon:after {
  transform: rotateZ(-60deg);
}

.hexagon:hover {
  border-radius: 50px;
  transition: 0.5s;
}

.hexagon:hover:before {
  border-radius: 50px;
  transition: 0.5s;
}

.hexagon:hover:after {
  border-radius: 50px;
  transition: 0.5s;
}

.titleWrapper {
  padding-top: 3rem;
  z-index: 10;

  .h2 {
    font-family: Halfomania, serif;
    font-weight: lighter;
    font-size: 70px;
  }

  .p {
    margin-top: -0.8rem;
    padding-left: 0.15rem;
    font-family: 'Aldrich', sans-serif;
    font-size: 1.1rem;
  }
}

.hexagon.starter {
  background: url(/images/noisy2.png), linear-gradient(-180deg, #035C57,#271904 );
}

.hexagon.potatoes {
  background: url(/images/noisy2.png), linear-gradient(-180deg, #93418F, #271904);

  .h2 {
    font-size: 58px;
  }
}

.hexagon.proud {
  background: url(/images/noisy2.png), linear-gradient(-180deg, #7e690e, #271904);
}

.hexagon.group {
  background: url(/images/noisy2.png), linear-gradient(-180deg, #299B79, #69299B, #372305);
}

.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29rem;

  p {
    font-family: 'Aldrich', sans-serif;
    font-size: 2rem;
    color: #fafafa;
  }
}

.dividerContainer{
  .divider {
    margin-top: 2rem;
    height: 90vh;
    width: 1rem;
    border-left: 1px solid #fafafa;
    border-right: 1px solid #fafafa;
  }
}
