
.horizontalSection {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.pageContainer {
  background-image: 
  url(/images/desk.svg), 
  url(/images/backk.svg);
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 0 0 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.header {
  width: 100vw;  
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  .LandingText {
    padding-left: 5rem;
    color: #fafafa;

    h1{
      font-size:50px;
      font-weight:500;
    }
    
    h2{
      font-size:40px;
      font-weight:200;
      margin-top:-50px;
    }

    .h3 {
      max-width: 20rem;
      white-space: normal;
    }

    button {
      border: 1px solid #fafafa;
      color: #fafafa;
      width: 10rem;
      margin-top: 2rem;
      padding: 0.5rem;
      background-color: transparent;
    }
  }

  .hero {
    width: 100vw;  
    height: auto;
    // display: flex;
    background-color: turquoise;
    
    .polys {
      position: absolute;
      top: 9.7rem;
      margin-left: 9.3rem;
      transform: scale(0.3);
    }
    
    .polym {
      position: absolute;
      top: 9.7rem;
      margin-left: 11.3rem;
      transform: scale(0.6);
    }
    
    .polyl {
      position: absolute;
      top: 9.7rem;
      margin-left: 14rem;
    }

    .hexs {
      position: absolute;
      top: 6.5rem;
      // left: 10rem;
      transform: scale(0.3);
    }

    .hexm {
      position: absolute;
      top: 6.5rem;
      // left: 10rem;
      transform: scale(0.6);
    }

    .hexl {
      position: absolute;
      top: 6.5rem;
      // left: 10rem;
    }
  }


  // .hero {
  //   height: 300px;
  //   width: 300px;
  //   background-color: blueviolet;
  // }

  // .hex {
  //   background-color: burlywood;
  //   height: 200px;
  //   width: 200px;
  // }

}


.main {
  width: 100vw; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas {
  width: 100vw;  
  height: 100vh;
}


